/.idea/
/precheck_results/
*/tmp
*/*/tmp
*.hex*
*.lst
*.vcd
*.gtkw
/env
/venv
/caravel
/dependencies
/mgmt_core_wrapper
/logsgds/*.gds
spef/
*.spef
*.lib
openlane/*/runs/
gds/*.gds
spef/
*.spef
*.lib
openlane/*/runs/
mag/
maglef/
def/
spi/
sim/gl/gl_sim
sim/gl/*.vcd
verilog/gl/user_project_wrapper.v
verilog/gl/user_project_wrapper.v
*.vcd
sim/digital/*_sim
sim/gl/*_sim
